.ListProduct{
    display: flex;
    flex-direction: column;
   
    width: 100%;
    height:740px;
    padding: 10px 50px;
    margin: 30px;
    border-radius:6px;
    background: white;
}

.listproduct-main-format{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    padding: 20px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
    
}
.listproduct-format{
    align-items: center;
    font-weight: 500;
    
}
.listproduct-image {
    height: 80px;
}
.listproduct-remove-icon{
    cursor: pointer;
    margin: auto;
}
.listproduct-allproducts{
    overflow-y: auto;
}

.listproduct-update-icon {
    width: 50px; /* Adjust the width to your preference */
    height: 50px; /* Adjust the height to your preference */
    cursor: pointer; /* Add pointer cursor for interaction */
    margin-left: 10px; /* Adjust the margin to separate the icons from the text */
    vertical-align: middle; /* Align icons vertically with the text */
  }

@media (max-width:800) {
    .ListProduct{
        box-sizing: border-box;
        width: 95%;
        height: 100%;
        padding:  10px 30px;
        margin:  20px auto;
    }
    .listproduct-main-format{
        padding: 15px 0px;
        color: #454545;
        font-size: 12px;
    }
    .listproduct-image{
        height: 60px;
    }
    
}